<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247373087949-cntl047mhnm10iof7fulvi5j1apkuha2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247373087949-cntl047mhnm10iof7fulvi5j1apkuha2</string>
	<key>API_KEY</key>
	<string>AIzaSyCIVVMdWCFz2Y_crbJWGaJ7uySFCjLrzNs</string>
	<key>GCM_SENDER_ID</key>
	<string>247373087949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehdi.UpUdate-Model-Mehdi</string>
	<key>PROJECT_ID</key>
	<string>upudate-model-mehdi</string>
	<key>STORAGE_BUCKET</key>
	<string>upudate-model-mehdi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247373087949:ios:5d115cf3e3ab50d0fcd584</string>
	<key>DATABASE_URL</key>
	<string>https://upudate-model-mehdi.firebaseio.com</string>
</dict>
</plist>